%header
  %ul.top-menu
    %li= link_to 'Journal', '/journal.html'
    %li= link_to 'Profile', '/profile.html'
    %li= link_to 'Work', '/', class: 'active'
  /.top-menu

  = image_tag 'logo-x2.png', class: 'logo'

  = link_to 'Begin a project', '/contact.html', class: "btn btn-subtle"


